
    /* styles.css */
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
    body {
        margin: 0;
        padding: 0;
        --bs-body-font-family: 'Poppins', sans-serif;
        --bs-body-font-size: 20px; /* Adjust as needed */
        --bs-body-font-weight: 300; /* Adjust as needed */

        /* --bs-nav-tabs-border-color: #dee2e6; */
        /* --bs-nav-tabs-border-radius: 0.375rem; */
        /* --bs-nav-tabs-link-hover-border-color: #e9ecef #e9ecef #dee2e6; */
        --bs-nav-tabs-link-active-color: #4070f4;
        /* --bs-nav-tabs-link-active-bg: #fff; */
        /* --bs-nav-tabs-link-active-border-color: #dee2e6 #dee2e6 #fff; */
        
        font-family: var(--bs-body-font-family);
        font-size: var(--bs-body-font-size);
        font-weight: var(--bs-body-font-weight);
    }

    .background-image {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-image: url('bg.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .n{
        color: white;
    }

    .a{
        padding: 50px;
        margin-top: 20px;
    }


    .centered-div {
        text-align: center;
        padding: 21px;
        background-color: #ffffff33; /* Set div background color */
        backdrop-filter: blur(10px);
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Optional shadow */
        background-image: url('links.png');
        background-size: cover;
        background-position: center;
    }

    .social-link {
    margin: 10px;
    font-size: 31px;
    text-decoration: none;
    color: #007bff; /* Set default color */
    transition: color 0.3s;
}

.social-link:hover {
    color: #ffffff; /* Change color on hover */
}

    .p-4{
        border-radius: 5px;
        border:1px dotted #124878;
    }


    /* styles.css */
.glow-pointer {
    position: absolute;
    pointer-events: none;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background-color: transparent;
    transform: translate(-50%, -50%);
    animation: glow 1s infinite alternate;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.3);
    }
    100% {
        box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.1);
    }
}
